html {
  overflow: hidden;
}

.tile {
  opacity: 40%;
  width: 2.5vw;
  height: 2.5vw;
  margin: -2px 0px;
  border: 1px solid #4cc9f0;
}

.tile-start {
  opacity: 100%;
  background-color: #3a0ca3;
}

.tile-start:hover {
  background-color: #340b94;
}

.tile-visited {
  opacity: 70%;
  background-color: #4cc9f0;
  border: 1px solid #83defa;
}

.tile-visited:hover {
  background-color: #22beee;
}

.tile-end {
  opacity: 100%;
  background-color: #ff4699;
}

.tile-end:hover {
  background-color: #ff0073;
}

.tile-picked {
  opacity: 60%;
}

.board {
  width: 90vw;
  margin: auto;
}

.panel {
  height: 15vh;
}
